<h1>Pets#show</h1>
<p>Find me in app/views/pets/show.html.erb</p>

<div class="container">
  <h1><%= @pet.name %></h1>
  <img src=<%= pet.image ? pet.image : "https://source.unsplash.com/random/?pets" %> alt="">
</div>
