<div class="title">
  <h1>Sobre Nós</h1>
</div>
  <div class="greeting">
    <h2>Olá, Pet Lovers, como vocês estão? 😊</h2>
  </div>
  <div class="about">
    <p>Milhares de cães e gatos são resgatados por boas almas todos os dias. Infelizmente, muitas pessoas não podem mantê-los e os abrigos estão cheios. Então resolvemos criar um canal direto entre quem encontrou e quem está procurando um novo amigo fofinho. Este é um aplicativo sem fins lucrativos para agilizar o processo de adoção de forma segura. Ajudar a aquecer corações em todo o mundo é o nosso propósito. Mas não se esqueça: não vendemos animais! Ajude-nos a espalhar este amor!
 ❤️❤️❤️</p>
  </div>
