<div class="banner">
  <div class="banner-content">
    <div class="banner-content-absolute d-flex flex-column justify-content-start w-50">
        <h1 class="w-50 text-left">Pet Your Life</h1>
        <h3 class="mt-4 text-white">Seja adotado hoje mesmo por um amigo!</h3>
        <%= link_to "Ir Para o Site", pets_path, class:"home-btn btn btn-flat mt-4" %>
    </div>
  </div>
</div>
