<h1>Get in Touch</h1>
<div class="touch">
  <p>You can contact us through instagram and keep up to date with all the news.</p>
</div>
<div class="instagram">
  <i class="fab fa-instagram"></i>
</div>
