// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "chatroom";
@import "banner";

.carousel .carousel-item {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%
}

.carousel-caption {
  color: white;
  font-size: 30px;
  left: -270px;
  padding: 175px;
  background-color: black;
  opacity: 50%;
}

.footer {
  background: #f3e9dc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.carousel-caption .btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.carousel-caption .btn:hover {
  background-color: black;
  color: white;
}
