.navbar-lewagon {
  background: #F3E9DC;
  padding: 0px 25px 0px 25px;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-bottom: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item a {
  color: #483D3F;
  font-weight: bold;
  &:hover {
    color: #483D3F;
  }
}

.navbar-brand {
  display: flex;
  font-weight: bold;
}

.navbar-brand p {
  color: #483D3F;
}
