// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #F3E9DC;
  color: #483D3F;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

h2 {
  margin-top: 30px;
  margin-left: 300px;
  font-size: 24px;
}

.teste {
  margin-top: 20px;
  text-align: center;
}

.btn {
  border: 1px solid #483D3F;
  border-radius: 6px;
}

.cards {
  margin-top: 100px;
}

.create-button {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 35px;
}

.title {
  padding-left: 130px;
}

.greeting {
  padding-right: 200px;
  text-align: center;
  font-size: 40px;
}

.about {
  padding-left: 200px;
  padding-right: 200px;
  text-align: justify;
  font-size: 20px;
  margin-top: 30px;
}

.title h1 {
  text-shadow: 1px 0px 2px #2c2627;
}

a {
  text-decoration: none;
  color: #483D3F;
  &:hover {
    color: #483D3F;
  }
}

footer {
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}

.mid-child {
  margin-left: 100px;
  margin-right: 100px;
}

.touch {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.instagram {
  text-align: center;
  font-size: 48px;
}

.titulo h1 {
  text-shadow: 1px 0px 2px #2c2627;
  font-size: 60px;
}

.subtitulo h1 {
  text-shadow: 1px 0px 2px #2c2627;
  font-size: 30px;
}

.separate-btns {
  margin-left: 7px;
}

.msg-size {
  color: #F3E9DC;
  border-radius: 8px;
  background-color: #483d3fd6;
  padding-right: 5px;
  text-align: right;
}

.current-msg {
  color: #ffffff;
  border-radius: 8px;
  background-color: #039edb;
  padding-left: 5px;
  text-align: left;
}
